.all{
    width: 15vw;
    height: 90vh;
    overflow: auto;
    /* background: red; */
    text-align: center;
    margin-top: 20px
}
    


button{
    margin-top: 5px;
    width: 80%;
    height: 30px;
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    cursor: pointer;
    background: #0062cc;
    color: #fff;
    
    
}

.buttons{
    margin-top: 10%;
}


input{
    width: 60%;
   margin-left: 3%;
    text-align: center;
} 