<form class="form-signin" [formGroup]="registrationFromG">

<div class="container register-form">
    <div class="form">

        <div class="note">
            <p style="text-decoration: underline;">This is a simpleRegister Form slack</p>
        </div><br><br>

        <div class="form-content">

                <div class="rishum">
                    <div class="firstName">
                        <input type="text" class="form-control" placeholder="first Name *" value=""/>
                    </div><br>

                    <div class="lastName">
                        <input type="text" class="form-control" placeholder="last name *" value=""/>
                    </div><br>

                    <div class="email">
                        <input type="text" class="form-control" placeholder="email *" value=""/>
                    </div><br>
                
                    <div class="Password">
                        <input type="text" class="form-control" placeholder="Your Password *" value=""/>
                    </div>

                    <div class="Confirm Password">
                        <input type="text" class="form-control" placeholder="Confirm Password *" value=""/>
                    </div><br>

                </div>
            </div>
            <button type="button" class="btnSubmit">Submit</button>
        
    </div>
</div>
</form>