.note
{
    text-align: center;
    height: 80px;
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
}




.form{
    border: 5px solid rgb(105, 229, 240);
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 60%;
    height: 70vh;
}

input{
    margin: auto;
    text-align: center;
    width: 60%;
}


.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #0062cc;
    color: #fff;
}

p{
    font-size: larger;
}

.header{
    display: flex;
    margin-left: 43%;
    color: rgb(129, 33, 97)
}

#s{
    font-size: 100px;
    color: rgba(134, 2, 95, 0.979);
}

#l{
    font-size: 100px;
    color: rgb(247, 206, 23);
}

#a{
    font-size: 100px;
    color: rgb(19, 134, 4);
}

#c{
    font-size: 100px;
    color: rgb(11, 163, 223);
}

#k{
    font-size: 100px;
    color: rgba(134, 2, 95, 0.979);
}