

.all{
    display: flex;
    width: 90%;
    margin: auto;
}

.listUsers{
    margin: 1%;
    border: solid 2px blue;

    
}
.chatAndInput{
    margin: 1%;
}

.chat{
    border: solid 2px blue;
}

.input{
    border: solid 2px blue;
    margin-top: 1%;

}


