<div class="chat">
    <span id="hello" >{{hello}}</span><br>
  <div class="buttons">
    <button type="button" class="btn btn-primary" (click)='allMesseg()'>כל ההודעות</button>
    <button type="button" class="btn btn-danger">הכי ישן</button>
    <button type="button" class="btn btn-success">הכי חדש</button>
   
  </div>


  <div class="h3">
    <h3>הצ'אטים שלי</h3>
  </div><br><br><br><br><br><br>


  <div id="messeg" *ngFor ='let i of myMessege' >
    <div class="nessU" *ngIf='i.address == myUser.id' style=" text-align: right;">
      <span id="spanAddress" >{{i.addressName}}</span><br>
      <span style="color: cornflowerblue;">{{i.dateDay}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: cornflowerblue;">{{i.dateTime}}</span><br><br>
      <span style="color: brown;">{{i.text}}</span><hr><br>
    </div>

    <div class="nessClick" *ngIf='i.address != myUser.id' style="text-align: left ">
      <span id="spanAddress" >{{i.addressName}}</span><br>
      <span style="color: cornflowerblue;">{{i.dateDay}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: cornflowerblue;">{{i.dateTime}}</span><br><br>
      <span style="color: darkgreen;">{{i.text}}</span><hr><br>
    </div>
    
  </div>
</div>