<h1>סלאק</h1>


<!-- 
<div class="btn-group">
    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
      Action <span class="caret"></span>
    </button>
    <div class="dropdown-menu" appDropdown>
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </div> -->


  <div class="all">

    <div class="persons">
      <input type="text">
      <button *ngFor ='let i of users' (click)='getMessege(i)'>{{i}}</button>
    </div>
    
    <div class="chat">
      <h3 >my chats</h3>
      <div id="messeg"  *ngFor ='let i of myMessege'> {{i}}<br><hr></div>
     
    </div>
    
  </div>
