<div class="chat">
    <span id="hello" >{{hello}}</span><br>
  <div class="buttons">
    <button type="button" class="btn btn-primary" (click)='allMesseg()'>כל ההודעות</button>
    <button type="button" class="btn btn-danger">הכי ישן</button>
    <button type="button" class="btn btn-success">הכי חדש</button>
   
  </div>


  <div class="h3">
    <h3>הצ'אטים שלי</h3>
  </div><br><br><br><br><br><br>


  <div id="messeg" *ngFor ='let i of myMessege'>
    <span style='text-decoration: underline;' dir="rtl">{{i.address}}</span>
    <span>{{i.text}}</span><hr><br>
  </div>
</div>