



.chat{
    margin-top: 20px;
    /* position: absolute; */
    width: 75vw;
    height: 85vh;
    background: rosybrown;
    text-align: center;
    overflow: auto;
}


h1{
    text-align: center;
    background: rgb(205, 46, 245);
    color: seashell;
}

h3{
    text-decoration: underline;
    font-size: xx-large;
    /* margin-top: 20px; */
}



span{
    width: 100%;
    height: 40px;
}

.heder{
    display: flex;
    text-align: center;
}

.h3{
    text-align: center;
    /* position: relative; */
    margin-top: 40px;
    
}

#messeg{
    border: black solid 2px;
}


.buttons{
    display: flex;
    justify-content: center;
}

button{
    margin: 5px;
}

/* h6{
    margin-right: 200px;
} */





