.all{
    text-align: center;
    justify-content: center;
}

.allData{
    
    
    width: 90vw;
    height: 90vh;
    
    display: flex;
     justify-content: center;
    text-align: center;

}

.buttons{
    display: flex;
    justify-content: center;
}

.img{
    width: 30%;
margin-top: 6%;

}

.explain{
    width: 30%;
margin-top: 6%;
margin-right: 5%;
}


.header{
    display: flex;
    margin-left: 43%;
    color: rgb(129, 33, 97)
}

button{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 30%;
    cursor: pointer;
    background: #0062cc;
    color: #fff;
    margin: auto;

}

#s{
    font-size: 100px;
    color: rgba(134, 2, 95, 0.979);
}

#l{
    font-size: 100px;
    color: rgb(247, 206, 23);
}

#a{
    font-size: 100px;
    color: rgb(19, 134, 4);
}

#c{
    font-size: 100px;
    color: rgb(11, 163, 223);
}

#k{
    font-size: 100px;
    color: rgba(134, 2, 95, 0.979);
}



