.all{
    text-align: center;
    justify-content: center;
}

.allData{
    
    
    width: 90vw;
    height: 90vh;
    
    display: flex;
     justify-content: center;
    text-align: center;

}

.buttons{
    display: flex;
    justify-content: center;
}

.img{
    width: 30%;
margin-top: 6%;

}

.explain{
    width: 30%;
margin-top: 6%;
margin-right: 5%;
}


.header{
    font-size: 100px;
    margin-left: 45%;
    color: rgb(129, 33, 97)
}

button{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 30%;
    cursor: pointer;
    background: #0062cc;
    color: #fff;
    margin: auto;

}



