.all{
    
    
    width: 100vw;
    height: 100vh;
    
    /* display: flex; */
    justify-content: space-evenly;
    text-align: center;

}

.enter{
    display: flex;
    width: 100%;
    height: 100%;
}

.login{
    background: cyan;
    width: 40%;
    height: 40%;
    margin: auto;
    text-align: center;

}

.registration{
    background: darkkhaki;
    width: 40%;
    height: 40%;
    margin: auto;
    text-align: center;

}

h1{
    margin-top: 25%;
}

.slack{
    font-size: 100px;
    text-align: center;
    color: darkmagenta;
    text-decoration: underline;
}

