/* .form-signin{
    border: 5px solid rgb(105, 229, 240);
    background: rgb(209, 238, 82);
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
    height: 70%;
}

span{
    color: red;
} */


.note
{
    text-align: center;
    height: 80px;
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
}




.form{
    border: 5px solid rgb(105, 229, 240);
    /* background: rgb(209, 238, 82); */
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 60%;
    height: 70vh;
}

input{
    margin: auto;
    text-align: center;
    width: 60%;
}


.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #0062cc;
    color: #fff;
}

p{
    font-size: larger;
}