<form class="form-signin" [formGroup]="signInFromG">
  <div class="container register-form">
    <div class="form">

      <div class="note">
        <p style="text-decoration: underline;">Sing in to slack</p>
      </div><br><br>

      <div class="form-content">

        <div class="rishum">
          <div class="firstName">
            <input type="email" #inputEmail formControlName='myEmail' class="form-control" placeholder="email address *"
              value="" /><br>
            <!-- <div *ngIf='signInFromG.get("myEmail").invalid '><span id="email">שדה זו חובה</span></div> -->
          </div><br>

          <div class="form-group">
            <input type="text" #inputPassword formControlName='myPassword' class="form-control"
              placeholder="Your Password *" value="" /><br>
            <!-- <div *ngIf='(signInFromG.get("myPassword").invalid)'><span password>שדה זו חובה</span></div> -->
          </div><br>

          <label>
            <input type="checkbox" #rememberMe value="true"> Remember me
          </label>

        </div>
      </div><br><br><br><br><br>
      <button type="submit" class="btnSubmit" (click)='log()' routerLink='/home'>Submit</button><br>
      <!-- <p class="mt-5 mb-3 text-muted">&copy; 2020</p> -->

    </div>
  </div>
</form>