
  <body class="text-center">
    <form class="form-signin" [formGroup]="signInFromG" (ngSubmit)="onSubmitForm(rememberMe.checked)">
      <img class="mb-4" src="https://a.slack-edge.com/80588/marketing/img/icons/icon_slack_hash_colored.png" alt="" width="72" height="72" style="margin-top: 10px;">
      <h1 class="h3 mb-3 font-weight-normal" style="text-decoration-line: underline;">Please sign in</h1>

      <label for="inputEmail" class="sr-only">Email address:</label>&nbsp;&nbsp;&nbsp;&nbsp;
      <input type="email" #inputEmail formControlName='myEmail' class="form-control" placeholder="Email address"  >
      <div *ngIf = 'signInFromG.get("myEmail").invalid ' ><span id="email" >שדה זו חובה</span></div><br><br>

      <label for="inputPassword" class="sr-only">Password:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input type="password" #inputPassword formControlName='myPassword' class="form-control" placeholder="Password" >
      <div *ngIf = '(signInFromG.get("myPassword").invalid)' ><span password >שדה זו חובה</span></div><br><br>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" #rememberMe value="true"> Remember me
        </label>
      </div><br><br>
      <button class="btn btn-lg btn-primary btn-block" type="submit"  (click)='log()' *ngIf='signInFromG.valid' routerLink='/chat'>Sign in</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
    </form>
 
